In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data =pd.read_csv("suv_data.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# setting my dependent $y$ and independent values $X$

In [4]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
#X = data.loc[:,['Age','EstimatedSalary']].values

In [6]:
X = data.iloc[:, [2,3]].values

In [7]:
y = data.iloc[:,4].values

In [8]:
#y  =data.loc['Purchased'].values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,y_train, y_test =train_test_split(X,y, test_size =0.25, random_state =0)

# We do standardisation to scale the input values for better performance

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc =StandardScaler()

In [13]:
X_train =sc.fit_transform(X_train)
X_test =sc.fit_transform(X_test)

# utilise the logistic regression on the data

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
logress =LogisticRegression()

In [16]:
logress.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
y_pred =logress.predict(X_test)

In [18]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

# finding the accuracy of the model

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
score =accuracy_score(y_test, y_pred)

In [24]:
print("The accuracy score of the model is " + str(score))

The accuracy score of the model is 0.87

# To get the accuracy in percentage terms

In [22]:
accuracy_score(y_test, y_pred) * 100

87.0